doctype html
head
  title Accident Alert
  link(rel='stylesheet' href='../static/CSS/account.css')
.container
  .container2
    .heading Accident Alert
    form(action="/alertpage" method='post')
      .form-group
        label.label Name:
        input#name.input(type='text' name='name' required)
      .form-group
        label.label Email:
        input#email.input(type='email' name='email' required)
      .form-group
        label.label Phone Number:
        input#phoneNumber.input(type='tel' name='phoneNumber' required)
      .form-group
        label.label Emergency Contact Name:
        input#emergencyContactName.input(type='text' name='emergencyContactName' required)
      .form-group
        label.label Emergency Contact Phone Number:
        input#emergencyContactPhoneNumber.input(type='tel' name='emergencyContactPhoneNumber' required)
      button.button(type='submit') Create Account
  img.background(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg')
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
  .circle-container
    .circle
//- // <a href="http://127.0.0.1:5500/mainpage.html"></a>
//- script.
//-   button = document.querySelector(".button");
//-   button.addEventListener("click", () => {
//-   // Adds an event listener to the button
//-   // Open the specified URL in a new tab
//-   window.open("http://127.0.0.1:5500/mainpage.html", "_blank");
//-   });
