doctype html
head
  title Accident Alert
  link(rel='stylesheet' href='../static/CSS/mainpage.css')
.stars
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
  .star
.container
  img(src='../static/IMG/Emergency Icon.png' alt='' style='width: 100px; height: 100px; margin-bottom: 20px')
  .heading Accident Alert
  p
    | An accident has occurred. Please click the button below to send an alert
    | to your family.
  button.button(onclick='sendAlert()') Send Alert
  p.instructions
    | Please note that this is just a simulated alert system. For real
    | emergencies, please call 108 or your local emergency number.
script.
  function sendAlert() {
  // Send an alert message to your family
  alert("An accident has occurred. Please help!");
  }
